<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hdf.autotouch">

    <application
        android:name=".base.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.minepool.MinePoolActivity" />

        <activity android:name=".ui.autotouch.AcAutoTouch"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".myservice.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="singleTop">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.web.WebActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.forgetpassword.ForgetPasswordActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.areacode.AreaCodeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.scan.ScanActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.chargecoin.ChargeCoinActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.withdrawcoin.WithdrawCoinActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bindaddress.BindAddressActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.notice.NoticeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.minefield.MineFieldActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.collectcoin.CollectCoinActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.collecttransferdetail.CollectTransferDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.transfercoin.TransferCoinActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.myassets.MyAssetsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.transactiondetail.TransactionDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.paypassword.PayPasswordActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.goodsdetail.GoodsDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.confirmorder.ConfirmOrderActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.address.AddressActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.address.AddAddressActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.myorder.MyOrderActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.orderdetail.OrderDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.myteam.MyTeamActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.macaddress.MacAddressActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.bill.BillActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.myserve.MyServeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.recommend.RecommendActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.aboutus.AboutUsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.addore.AddOreActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.settingcenter.SettingCenterActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.resetpaypassword.ResetPayPasswordActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.resetloginpassword.ResetLoginPasswordActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.exchange.ExchangeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.exchangerecord.ExchangeRecordActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.exchangerecord.ExchangeDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.mine.MineActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.version.VersionUpdateActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

</manifest>